## 데이터 불러오기
### 샘플 데이터 확인

In [2]:
## https://data.seoul.go.kr/dataList/10283/S/2/datasetView.do 서울시 통근·통학시 이용하는 교통수단 통계(2022년)

import pandas as pd
df = pd.read_csv("[지하철_101]통근통학_교통수단.csv", encoding='utf-8')
df.head(1)

,구분별(1),구분별(2),구분별(3),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8,2022.9,2022.10,2022.11,2022.12
0,구분별(1),구분별(2),구분별(3),도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타

### 컬럼 확인
- 구분별(1) : 서울시(모두 동일)
- 구분별(2) : 소계, 성별, 연령별, 학력별, 소득별, 자치구별
- 구분별(3) : 구분별(2)의 세부항목
- 나머지는 2022년 동일한 컬럼명

In [8]:
df.columns

Index(['구분별(1)', '구분별(2)', '구분별(3)', '2022', '2022.1', '2022.2', '2022.3',
       '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10',
       '2022.11', '2022.12'],
      dtype='object')

- 구분별(1) 컬럼 삭제

In [9]:
df = df.drop(['구분별(1)'], axis=1)
df.head(1)

,구분별(2),구분별(3),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8,2022.9,2022.10,2022.11,2022.12
0,구분별(2),구분별(3),도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타

- 인덱스0을 컬럼명으로 지정

In [13]:
df_1 = df.rename(columns=df.iloc[0])
df_1.head(1)

,구분별(2),구분별(3),도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타
0,구분별(2),구분별(3),도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타

- 인덱스 0 행 삭제

In [19]:
# df_1.drop([0], axis=0, inplace=True)
df_1.head(5)

,구분별(2),구분별(3),도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타
1,소계,소계,16.5,2.0,0.1,0.7,25.6,17.5,12.5,0.1,22.7,0.3,1.6,0.2,0.1
2,성별,남자,12.4,3.0,0.1,1.1,20.1,17.7,12.2,0.1,31.2,0.4,1.5,0.3,0.1
3,성별,여자,21.9,0.8,0.1,0.2,32.9,17.4,12.9,0.1,11.5,0.3,1.8,0.0,0.0
4,연령별,10대,52.8,7.3,0.1,-,24.8,7.6,6.9,-,0.2,0.1,0.1,0.1,-
5,연령별,20대,9.4,0.8,0.1,0.8,27.6,27.4,25.3,0.0,6.2,0.1,1.3,0.9,0.1

In [20]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 1 to 51
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   구분별(2)        51 non-null     object
 1   구분별(3)        51 non-null     object
 2   도보            51 non-null     object
 3   자전거           51 non-null     object
 4   자전거 + 기타교통수단  51 non-null     object
 5   오토바이          51 non-null     object
 6   버스            51 non-null     object
 7   지하철(철도)       51 non-null     object
 8   버스 + 지하철      51 non-null     object
 9   택시            51 non-null     object
 10  승용차           51 non-null     object
 11  승용차 + 버스      51 non-null     object
 12  승용차 + 지하철     51 non-null     object
 13  개인형 이동수단      51 non-null     object
 14  기타            51 non-null     object
dtypes: object(15)
memory usage: 6.1+ KB

- 컬럼명 수정

In [24]:
df_1.rename(columns={'구분별(2)' : '대분류'}, inplace=True)
df_1.rename(columns={'구분별(3)' : '분류'}, inplace=True)
df_1.head(10)

,대분류,분류,도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타
1,소계,소계,16.5,2.0,0.1,0.7,25.6,17.5,12.5,0.1,22.7,0.3,1.6,0.2,0.1
2,성별,남자,12.4,3.0,0.1,1.1,20.1,17.7,12.2,0.1,31.2,0.4,1.5,0.3,0.1
3,성별,여자,21.9,0.8,0.1,0.2,32.9,17.4,12.9,0.1,11.5,0.3,1.8,0.0,0.0
4,연령별,10대,52.8,7.3,0.1,-,24.8,7.6,6.9,-,0.2,0.1,0.1,0.1,-
5,연령별,20대,9.4,0.8,0.1,0.8,27.6,27.4,25.3,0.0,6.2,0.1,1.3,0.9,0.1
6,연령별,30대,8.2,1.6,0.1,0.3,30.1,21.6,13.3,0.0,22.9,0.3,1.5,0.0,0.0
7,연령별,40대,11.1,1.6,0.0,0.7,24.7,16.2,9.0,0.0,33.7,0.3,2.4,0.0,0.1
8,연령별,50대,14.7,1.6,0.0,0.7,21.4,13.0,9.0,0.1,36.3,0.6,2.4,0.1,0.1
9,연령별,60대 이상,30.0,3.1,0.2,1.2,24.0,10.4,5.4,0.2,24.0,0.5,1.0,0.0,0.0
10,학력별,중졸 이하,53.5,4.0,0.7,0.8,26.3,4.9,3.7,-,4.9,0.7,0.3,-,-

### 지역구 통계
- 지역구 데이터 추출

In [57]:
df_z = df_1[df_1['대분류'] == '지역소분류'].copy()
df_z

,대분류,분류,도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타
27,지역소분류,종로구,15.1,3.4,0.3,2.4,25.2,21.5,5.5,-,22.8,1.8,0.6,1.3,-
28,지역소분류,중구,14.1,1.8,-,0.1,20.4,30.3,8.7,-,24.3,-,0.3,-,-
29,지역소분류,용산구,28.1,1.9,-,2.2,22.6,22.4,9.1,-,12.9,0.1,-,0.1,0.5
30,지역소분류,성동구,10.6,1.8,0.3,0.9,19.7,15.9,20.7,0.1,25.3,0.5,4.1,0.1,-
31,지역소분류,광진구,15.0,3.3,-,2.0,30.8,17.5,9.1,-,18.0,1.1,3.1,-,-
32,지역소분류,동대문구,22.1,2.3,-,0.9,16.0,20.7,11.5,0.1,22.6,0.5,2.9,0.1,0.4
33,지역소분류,중랑구,15.6,1.2,-,0.5,28.4,9.9,14.5,0.1,28.0,0.7,1.1,0.1,-
34,지역소분류,성북구,20.9,4.2,-,0.7,27.3,17.7,12.5,-,16.6,-,0.0,-,0.0
35,지역소분류,강북구,19.4,0.8,0.2,0.3,29.5,20.8,8.0,-,20.7,-,0.1,0.2,-
36,지역소분류,도봉구,24.8,3.0,-,0.5,16.1,20.8,13.9,0.2,19.9,0.2,0.1,-,0.5
37,지역소분류,노원구,13.3,5.1,0.1,2.6,30.3,11.4,17.6,0.1,16.4,0.2,0.5,2.4,-
38,지역소분류,은평구,15.3,1.6,0.2,0.3,31.3,15.1,18.1,0.1,17.4,0.2,0.4,-,-
39,지역소분류,서대문구,18.6,1.7,0.0,1.9,23.9,19.8,6.3,-,26.5,0.4,0.7,-,0.1
40,지역소분류,마포구,15.6,1.8,0.2,0.5,30.4,21.0,9.2,0.1,20.6,0.0,0.2,0.3,0.1
41,지역소분류,양천구,18.5,0.6,-,0.1,19.6,16.4,16.9,-,27.3,0.3,0.3,-,-
42,지역소분류,강서구,20.5,1.2,-,0.2,18.8,15.2,15.4,0.2,27.3,0.3,0.7,-,0.2
43,지역소분류,구로구,18.5,1.7,-,0.4,29.6,23.4,6.9,-,18.7,-,0.6,-,0.1
44,지역소분류,금천구,16.4,0.8,-,0.5,34.4,12.5,17.1,0.1,17.8,0.1,0.2,0.1,0.1
45,지역소분류,영등포구,7.3,0.8,-,0.0,31.8,21.9,8.7,0.2,23.0,1.7,4.6,-,-
46,지역소분류,동작구,8.7,1.7,-,0.3,27.7,16.0,21.4,-,23.5,0.2,0.4,0.0,-
47,지역소분류,관악구,12.8,0.8,0.4,0.2,34.8,13.9,15.8,-,19.8,0.1,1.3,0.0,0.1
48,지역소분류,서초구,21.2,5.1,-,0.6,27.9,15.2,6.7,0.3,22.4,0.3,0.1,0.1,-
49,지역소분류,강남구,14.2,1.0,0.1,-,14.6,12.5,7.3,0.1,38.3,0.1,11.7,0.0,-
50,지역소분류,송파구,14.3,1.6,-,0.3,22.2,23.9,15.0,0.1,22.1,0.2,0.4,0.0,-
51,지역소분류,강동구,18.2,2.1,0.2,0.5,25.0,17.1,7.7,-,26.2,0.1,2.1,0.8,-

- '대분류' 컬럼 삭제

In [69]:
# df_z.drop(columns = '대분류', inplace=True)
df_z.head(1)

,도보,자전거,자전거 + 기타교통수단,오토바이,버스,지하철(철도),버스 + 지하철,택시,승용차,승용차 + 버스,승용차 + 지하철,개인형 이동수단,기타
분류,,,,,,,,,,,,,
종로구,15.1,3.4,0.3,2.4,25.2,21.5,5.5,-,22.8,1.8,0.6,1.3,-

- '-'를 0으로 바꾸기

In [70]:
df_z = df_z.replace('-', 0)

- '분류' 열을 인덱스로 지정

In [98]:
# df_z.set_index('분류', inplace=True)
df_zz = df_z.T
df_zz.columns

Index(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
       '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
       '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object', name='분류')

- 한글 폰트 설정

In [99]:
import platform
platform.system()

'Windows'

In [100]:
# 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

plt.rc('axes', unicode_minus=False) # 마이너스 폰트 설정


# 글씨 선명하게 출력하는 설정
%config InlineBackend.figure_format = 'retina'

- 시각화

In [104]:
df_zz.to_csv("[지하철_101]통근통학_교통수단_2022.csv")